<!DOCTYPE html>
<html>
  <head>
    <title>Hello Stripe!</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Hello Stripe!</h1>
    <button id="customButton">Buy Kike a beer</button>

    <p>This button uses Stripe Connect for a payment</p>

    
    <script src="https://checkout.stripe.com/checkout.js"></script>

    <script>
      var handler = StripeCheckout.configure({
        key: 'pk_test_EUkfRZwz4TXS3ujwC4GNRIUy',
        image: 'https://s.gravatar.com/avatar/135f9d23e261fb03f514f45011725b41?s=80&r=g',
        locale: 'auto',
        token: function(token) {
          // You can access the token ID with `token.id`.
          // Get the token ID to your server-side code for use.
        }
      });

      document.getElementById('customButton').addEventListener('click', function(e) {
        // Open Checkout with further options:
        handler.open({
          name: 'Thanks mate!',
          description: 'Kike is happy :)',
          zipCode: true,
          currency: "eur",
          amount: 2000
        });
        e.preventDefault();
      });

      // Close Checkout on page navigation:
      window.addEventListener('popstate', function() {
        handler.close();
      });
    </script>
  </body>
</html>
